.ant-flex {
  display: flex;
}
.dialog-left-list {
  font-size: 12px;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
}
.dialog-left-list-one {
  padding-left: 15px;
}
.dialog-left-list-ones {
  padding-left: 15px;
  margin-right: 10px;
  color: #fb6638;
  background: #fff3ef;
  border-radius: 5px;
}
.dialog-left-list-two {
  padding-left: 25px;
}
.dialog-left-list-twos {
  padding-left: 25px;
  margin-right: 10px;
  color: #fb6638;
  background: #fff3ef;
  border-radius: 5px;
}
.dialog-content-right-alert {
  margin-bottom: 10px;
}
.ant-dialog-btn {
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  padding: 0 20px;
  margin-right: 20px;
  border: 1px #e5e5e5 solid;
  border-radius: 4px;
  cursor: pointer;
}
.has-gutter tr {
  background: #f7f7f7;
}
.el-table--border {
  border-radius: 4px;
}
.image-dialog-imglist {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.image-dialog-imglist-sl {
  width: 110px;
  height: 110px;
  border-radius: 5px;
  position: absolute;
  z-index: 999;
  background-color: #000000;
  opacity: 0.6;
  color: #ffffff;
  font-size: 16px;
  line-height: 110px;
}
.image-dialog-imglist-hover {
  width: 110px;
  height: 30px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  z-index: 999;
  background-color: #000000;
  opacity: 0.6;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  margin-top: 80px;
  text-align: center;
}
.image-dialog-del {
  position: absolute;
  margin-left: 100px;
  z-index: 99;
  margin-top: -5px;
}
.dis {
  cursor: pointer;
}
.dis i.image-dialog-del {
  display: none;
}
.dis:hover i.image-dialog-del {
  display: block;
}
.dis div.image-dialog-imglist-hover {
  display: none;
}
.dis:hover div.image-dialog-imglist-hover {
  display: block;
}
